@font-face {
    font-family: 'TF2 Build';
    src: url('../assets/tf2-font/TF2Build.woff2') format('woff2'), url('../assets/tf2-font/TF2Build.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #003959;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'TF2 Build';
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}