@import "../assets/tf2-font/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
body {
    background-color: #0a0204;
    height: 100dvh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    position: static;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1dvh;
    box-sizing: border-box;
    background-color: #450a33;
    font-family: 'TF2 Build';
}

.link_no_deco {
    text-decoration: none;
}

.link_no_deco:link {
    background-color: transparent;
    text-decoration: none;
}

.link_no_deco:visited {
    background-color: transparent;
    text-decoration: none;
}

.main {
    margin: 5dvh auto;
    background-color: #5e424a;
    min-width: auto;
    max-width: 150dvh;
    height: auto;
    width: auto;
    padding: 2dvh;
    overflow: hidden;
    border-radius: 1%;
    text-align: center;
}

.centered_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50dvh;
    height: 50dvh;
    border-radius: 1%;
    border-color: white;
    border-style: solid;
    border-width: 1dvb;
}

.about_me_houser {
    padding-left: 10dvh;
    padding-right: 10dvh;
    background-color: #e6c5d7;
    border-radius: 1%;
    border-color: white;
    border-style: solid;
    border-width: 1dvb;
    margin-top: 2dvb;
}


/*Whoever invented phones fuck you!*/

@media (max-width: 800px) {
    .about_me_houser {
        padding-left: 2dvh;
        padding-right: 2dvh;
    }
    .main {
        border-radius: 0;
        margin: 0dvb;
    }
}